*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-template-rows:  1fr 1fr 1fr ;
    box-sizing: border-box;
    
  
}
header{
    border:1px solid ;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    align-items: center;
   background: brown;
   color: #fff;

}
header nav{
    display: flex;
    
}
main{
grid-column: 1/5;
display:flex;
flex-wrap: wrap;
}
ul{
    display: none;
}
li{
    list-style: none;
}


footer{
 border:1px solid ;
 grid-column: 1/-1;
 background: brown;
 color: #fff;
 display: flex;
 box-sizing: border-box;
}
footer>div{
    border: 1px solid;
    
}

 @media screen and (min-width:786px){
   ul{
     display: flex ;
     justify-content: space-between;
     }
   nav i.fas.fa-bars {
    display:none;
   }
   header{
       display: flex;
       flex-direction: row-reverse;
       background: black;
       color: blanchedalmond;
       
   }
  
   li{
       margin: 10px;
   }
   
}

@media screen and (min-width:1024px){
    header{
       background: grey;
       display: flex;
       flex-direction:inherit;

    }
}
